/* ****************
f-pattern
******************* */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Mansalva|Pacifico|Permanent+Marker|Turret+Road&display=swap');

* { border: 1px solid hotpink; }


/* ****************
decorations
******************* */

body {
  /*background-image: linear-gradient(yellow, blue, red);*/
  background-image: linear-gradient(rgba(255,255,141,0.5), rgba(255,255,141,0.5), rgba(105,130,255,0.4), rgba(240,92,112,0.8));
}

.logo {
  justify-content: center;
  align-content: center;
  padding-top: 15px;
}

.center {
  color: hotpink;
  font-family: Permanent Marker, sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: hotpink;
}
a:hover {
  color: black;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

.persistent {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: white;
}

main {
  display: grid;
  margin-top: 140px;
  justify-content: center;
  margin-bottom: 25px;
}

h2 {
  display: inline;
}

.kat figure {
  float: left;
  margin-top: 0px;
}

.jen figure {
  float: left;
  margin-top: 0px;
}

.dewey figure {
  float: right;
  margin-top: 0px;
}

header { max-height: 120px; }

header.persistent { top: 0; }
header .container {
  display: flex;
  justify-content: space-between;
}

.kat, .jen, .dewey {
  grid-column: 2;
  padding-top: 15px;
}

.kat, .jen {
  padding-bottom: 65px;
  padding-right: 20px;
  background-color: orange;
  border: 14px black;
}

.kat {
  border-style: inset;
  grid-row: 1;
}

.jen {
  border-style: outset;
  margin-top: 20px;
  grid-row: 2;
}

.dewey {
  margin-top: 20px;
  grid-row: 3;
  grid-column: 1 / span 2;
  border: 14px red;
  border-style: double;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: pink;
}

footer {
  text-align: center;
}
