/* ****************
f-pattern
******************* */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Varela|Indie+Flower|Pacifico|Permanent+Marker|Turret+Road&display=swap');

/* **********************
FOR REFERENCE/TESTING
************************* */
/** { border: 1px solid hotpink; }*/



/* **********************
BASE
************************* */
body {
  background-image: linear-gradient(rgba(255,248,23,1), rgba(105,130,255,0.8), rgba(240,92,112,0.8));
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

/* **********************
HEADER
************************* */
header { max-height: 120px; }

header.persistent { top: 0; }

header .container {
  display: flex;
  justify-content: space-between;
}

.persistent {
  position: fixed;
  left: 0;
  width: 100%;
  /*background-image: linear-gradient(rgba(255,251,101,0.8));*/
  background-color: rgba(255,255,141,0.8);
}

.logo {
  justify-content: center;
  align-content: center;
  padding-top: 15px;
}

.center {
  font-family: Permanent Marker, sans-serif;
  font-size: 40px;
  margin-top: -40px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: hotpink;
}

.left-header {
  font-family: Pacifico, sans-serif;
  font-size: 19px;
  margin-top: -15px;
  color: darkblue;
}

/* **********************
MAIN
************************* */
main {
  display: grid;
  margin-top: 140px;
  justify-content: center;
  margin-bottom: 25px;
}

h2 {
  display: inline;
  font-family: Permanent Marker, sans-serif;
}

/* **********************
MODULES
************************* */

.same figure {
  float: left;
  margin-top: 0px;
  margin-bottom: 50px;
}
.adjust {
  padding-bottom: 101px;
}

.dewey figure {
  float: right;
  margin-top: 0px;
}

.same, .dewey {
  grid-column: 2;
  padding-top: 15px;
}

.same {
  padding-bottom: 65px;
  padding-right: 20px;
  border: 14px white;
  border-style: dotted;
  grid-row: 1;
  background-image: linear-gradient(rgba(255,254,192,1), rgba(203,192,255,1));
}

.dewey {
  margin-top: 20px;
  grid-row: 3;
  grid-column: 1 / span 2;
  border: 14px red;
  border-style: double;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: pink;
}

p{ 
  font-family: Varela, sans-serif; 
  font-size: 14.5px;
}

/* **********************
FOOTER
************************* */
footer {
  text-align: center;
  font-family: Turret Road, sans-serif;
}
